*{
    padding: 0;
    margin: 0;
   
}
body{
    background-color: black;
}

.container{
    width: 158vh;
    height: 85vh;
    background-color: rgb(7, 155, 181);
    margin-top: 10vh;
    margin-left: 30vh;
    border-radius: 5px;
    position: relative;
    display: flex;
    /* box-shadow: rgba(100, 100, 111, 0.2) 7px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.left{
    width: 75vh;
    height: 80vh;
    background-color: white;
    margin-left: 20px;
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
    position: absolute;

    z-index: 0;
    
}

.right{
     width: 75vh;
    height: 80vh;
    background-color: white;
    margin-left: 550px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    border-left: 2px solid gray;
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    /* box-shadow: 1px 1px 1px 1px solid black; */
 
    transition: 1s  ;
}
 /* .right_animate{
     width: 75vh;
    height: 80vh;
   background-color: white;
    margin-left: 550px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index: 9999;
    border: 1px solid black;
    transition: 1s  ;
    animation:  rotate 1s;
   animation-direction: normal;
   animation-fill-mode: forwards;
    animation-delay: 2s; 
    color: white;
    /* animation: rotate 1s forwards 2s; */
 /* }

    @keyframes rotate {
        0%{
            
            transform: rotateY(0deg);
             transform: translateY(80deg);
            right: 30px;
            
        }
        25%{
           
            bottom: 1600px;
          
            background-color: white;
        }
        100%{
            top: 500px;
            transform: rotateY(180deg);
            right: 555px;
              color: white;
            z-index: 0;
            
            
        }
    }

    @keyframes rotate {
        
        from{
            transform: translateZ(2px) rotateY(0deg);
           
        }
        to {
            transform: translateZ(1px) rotateY(-180 deg);
            
        }
    }  */

 .right1{
     width: 75vh;
    height: 80vh;
    background-color: white;
    margin-left: 550px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index:1;
    
    transition: 2s ease-in-out ;
    animation: rotate 2s;
   animation-direction: normal;
   animation-fill-mode:forwards; 
   animation-delay: 1s;
} 
.right1 h2{
    text-align: center;
    padding: 5px;
    font-size: 27px;
}
 @keyframes rotate {
        0%{
            transform: rotateY(0deg);
            right: 30px;
            z-index: 9999;
            
        }
       50%{
    
       }
        100%{

            transform: rotateY(180deg);
            right: 555px;
            z-index: 9999;
            
            
        }
    }

  .flex{
      display: flex;
   justify-content: space-evenly;
   
}
.flex1{
      display: flex;
   justify-content: space-evenly;
   animation: fadeSelf 0.5s ease-in-out 1s forwards;
}
@keyframes fadeSelf {
 0% { opacity: 1; }
 
 100%{display: none;}
}

   .text{
    width: 500px;
    height: 320px;
  
    padding:10px;
   }
   
   .text h2{
    text-align: center;
    margin-right: 55px;
    font-size: 25px;
   }
   .text h3{
    text-align: center;
    margin-right: 55px;
    color: rgb(7, 155, 181);
    font-size: 20px;
    padding: 5px;
   }

   .icons{
    margin-left: 25%;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    height: 40px;
    padding-top: 10px;
   }

   .icons img{
    cursor: pointer;
   }
   .description{
    width: 450px;
    border: none;
    margin-left: 5px;
    padding: 13px;
    line-height: 25px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
   transition: all 0.1s ease;
    text-align: left;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1.5px solid rgb(7, 155, 181);
   }

   .bottom_sec{
    width: 350px;
    height: 50px;
    
    margin-top: 20px;
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
   }

   .bottom_sec button{
    color: rgb(7, 155, 181);
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(7, 155, 181);
    border-radius: 5px;
    transition:  0.5s ease-out;
    cursor: pointer;
   }

   .bottom_sec button:hover{
    color: white;
    background-color: rgb(7, 155, 181);
    border-color: white;

   }
   .description:hover{
  
     border: 2px solid rgb(7, 155, 181);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

   }

   /* eduaction-section*/

   .right h2{
    text-align: center;
    padding: 5px;
    font-size: 27px;
   }

   .progress{
    width: 20px;
    height: 500px;
  
    margin-top: 55px;
    margin-left: 10px;
   }

   .point{
    width: 13px;
    height: 13px;
    background-color: rgb(7, 155, 181);
    border-radius: 50%;
   }
   .line{
    width: 2px;
    height: 33%;
    background-color: rgb(7, 155, 181);
    border-radius: 5px;
    margin-left: 5px;
   }

   .edu_container{
    width: 500px;
    height: 520px;
    
   }

   .education{
    width: 400px;
    height: 130px;
    border: 2px solid rgb(7, 155, 181);
    margin-top: 15px;
    padding: 3px;
    padding-left: 10px;
    margin-left: 15px;
    border-radius: 10px;
    padding-top: 5px;
   }

   .education h4{
    color: rgb(7, 155, 181);
    padding: 3px;
   }
   .education p{
    padding: 3px;
    line-height: 20px;
   }
   .education h3{
    padding: 3px;
   }

.nextpage{
    width: 25px;
    height:25px;
    padding: 3px;
    color:rgb(7, 155, 181) ;
    margin-top: 18px;
    margin-left: 90%;
    font-weight:bolder;
    cursor: pointer;
    
} 

/* firstpage backside*/

.skill_icons{
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    padding: 5px;
}

.skill_icons h3{
    font-size: 23px;
    padding: 5px;
    margin-top: 5px;
}
.frontend_icons{
    width: 500px;
    height: 150px;
    /* border: 1px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.skill_single_div{
    
    width: 98px;
    height: 80px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid rgb(7, 155, 181);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    transition: all  0.2s ease-in-out;
    cursor: pointer;
    
    



}

.skill_single_div:hover{
    border: 2px solid rgb(7, 155, 181);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}
.skill_single_div p{
    padding: 5px;
    font-size: 17px;
}
.previouspage{
     width: 25px;
    height:25px;
    padding: 3px;
    color:rgb(7, 155, 181) ;
    margin-top: 70px;
    font-weight:bolder;
    cursor: pointer;
}

.previous1{
    width: 75vh;
    height: 80vh;
    background-color: white;
    margin-left: 20px;
    padding: 5px;
    border-radius: 2px;
    margin-top: 10px;
    position: absolute;

    z-index: 0;
    
    transition: 2s ease-in-out ;
    animation: previous 2s;
   animation-direction:reverse;
   animation-fill-mode:backwards; 
   animation-delay: 1s;
} 

@keyframes previous {
        0%{
            transform: rotateY(180deg);
            left: 500px;
            z-index: 9999;
            
        }
       
        100%{

            transform: rotateY(0deg);
            left: 0px;
            z-index: 9999;
            
            
        }
    }

    .normal{
     width: 75vh;
    height: 80vh;
    background-color: white;
    margin-left: 550px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    border-left: 2px solid gray;
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px; 
    /* box-shadow: 1px 1px 1px 1px solid black; */
 
    
}